<div class="sign-up">
  <% if flash[:errors].present? %>
  <ul>
  <% flash[:errors].each do |error| %> <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>


  <div id="login" class="form-group" >
  <%= form_for @user do |f| %>
  <span>
  <%= label_tag :name%>
  <%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
  </span>
  <span>
  <%= label_tag :email %>
  <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </span>
  <span>
  <%= label_tag :password %>
  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </span>
  <br>
  <%= f.submit 'submit' , class: "btn btn-outline-info"%>
  <% end %>
  </div>
</div>
<!--closing whole page div  -->
