<% if flash[:errors].present? %>
<ul>
<% flash[:errors].each do |error| %> <li><%= error %></li>
  <% end %>
</ul>
<% end %>


<%= form_for @user do |f| %>

<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name %>
</fieldset>
<fieldset>
  <%= f.label :email %>
  <%= f.text_field :email %>
</fieldset>
<fieldset>
  <%= f.label :password %>
  <%= f.text_field :password %>
</fieldset>

<%= f.submit %>

<% end %>
