<h2><%= @user.name %></h2>


<div>
  <%= link_to 'Edit This User', edit_user_path(@user) %>
  |
  <%= link_to 'Delete This User', user_path(@user), method: 'delete' %>
  |
  <%= link_to 'Create New Restaurant',
  new_restaurant_path %>
  |
  <%= link_to 'Add an Image to a Restaurant',
  new_restaurant_path %>
</div>

<br>

<h4>Restaurant you created</h4>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><strong>Restaurant:</strong> <%= restaurant.name %><br>
  <strong>Summary:</strong> <%= restaurant.summary %></li><br>
<% end %>
</ul>

<h4>Images</h4>
<ul>
<% @user.images.each do |image| %>
  <li>
    <%= link_to restaurant_path(image.restaurant.id) do %>
      <%= image_tag image.image%>
    <% end  %>
  </li>
<% end %>
</ul>
