<h2 class="user-show"><%= @user.name %>'s Page</h2>


<h4>Restaurant you created</h4>
<ol>
<% @restaurants.each do |restaurant| %>
  <li><strong>Restaurant:</strong> <%= restaurant.name %></li>
  <strong>Summary:</strong> <%= restaurant.summary %><br>
  <strong>Location:</strong> <%= restaurant.location %><br>
  <strong>Opening Hours:</strong> <%= restaurant.opening_hours %><br>
  <strong>Vegan Option:</strong> <%= restaurant.vegan_option %><br>
<% end %>
</ol>

<h4>Images</h4>

<% @user.images.each do |image| %>

      <%= link_to restaurant_path(image.restaurant_id) do %>
        <%= cl_image_tag image.image%>
      <% end %>

<% end %>
