<% if flash[:errors].present?%>
  <ul>
  <% flash[:errors].each do |error|%>
  <li> <%= error %></li>
  <% end %>
</ul>
<% end %>



<%= form_for @restaurant, html: {multipart: true} do |f| %>
<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name %>
</fieldset>
<fieldset>
  <%= f.label :summary %>
  <%= f.text_field :summary %>
</fieldset>
<fieldset>
  <%= f.label :location %>
  <%= f.text_field :location %>
</fieldset>
<fieldset>
<%= f.label :opening_hours %>
<%= f.text_field :opening_hours %>
</fieldset>
<fieldset>
<%= f.label :restaurant_image %>
<%= f.cl_image_upload :restaurant_image  %>
</fieldset>
<fieldset>
<%= f.label :vegan_option %>
<%= f.check_box :vegan_option %>
</fieldset>
<%= f.submit %>
<% end %>
