<h2>Edit Ramen Restaurant<%= @restaurant.name%></h2>

<form action="<%= restaurant_path(@restaurant.id) %>" method="post"><br/>
Name: <input type="text" name="name" value="<%= @restaurant.name %>"><br/>
Summary: <input type="text" name="summary" value="<%= @restaurant.summary %>"><br/>
Location:<input type="text" name="location" value="<%= @restaurant.location%>"><br/>
Opnening Hours:<input type="text" name="opening_hours" value="<%= @restaurant.opening_hours %>"><br/>
Vegan Option:<input type="integer" name="vegan_option" value="<%= @restaurant.vegan_option %>"
<br>
<input type="submit" value="Update">

</form>
