
<h2><%= @restaurant.name %></h2>

<div>
  <%= link_to 'Edit This Restaurant', edit_restaurant_path(@restaurant) %>
  |
  <%= link_to 'Delete This Restaurant', restaurant_path(@restaurant), method: 'delete' %>
</div>

<br>
<strong>Restaurant:</strong> <%= @restaurant.name %><br>
<strong>Summary:</strong> <%= @restaurant.summary %><br>
<strong>Location:</strong> <%= @restaurant.location %><br>
<strong>Opening Hours:</strong> <%= @restaurant.opening_hours %><br>
<strong>Vegan Option:</strong> <%= @restaurant.vegan_option %><br>


main image:
<%= cl_image_tag @restaurant.restaurant_image %>

<hr>

<% @restaurant.images.each do |image| %>

    <%= link_to image_path(image.id) do %>
      <%= image_tag image.image, class: 'showThumb' %>
    <% end  %>

<% end %>

<hr>
<h3>Upload Your Own Image</h3>
<%= form_tag upload_image_path(@restaurant.id), multipart: true do  %>

  <%= label_tag :title %>
  <%= text_field_tag :title, nil %>
  <br>
  <%= label_tag :image %>
  <%= cl_image_upload_tag :image %>
  <br>
  <%= submit_tag 'Upload' %>

<% end %>



<!--
version 1: link_to LINK_TEXT_HERE, book_path(book.id)
version 2: link_to book_path(book.id) do
             EVERYTHING IN HERE IS THE CLICKABLE LINK
           end
         -->
