<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <%= cloudinary_js_config %>
  </head>

  <body>
    <h1 class="">Project 1 Title</h1>

    <nav>
        <%= link_to 'Home', restaurants_path %>
        |
        <%= link_to 'All Pictures', images_path %>

        <% if @current_user.present? %>
        |
        Welcome, <%= link_to @current_user.name, user_path(@current_user) %>
        |
        <!-- <%= link_to 'All Users', users_path %> -->
        
        <%= link_to 'Create New Restaurant',
        new_restaurant_path %>
        |
        <%= link_to 'Logout', login_path, method: 'delete' %>

        <br>
      <% else %>

        <%= link_to 'Login', login_path %>
        |
        <%= link_to 'Sign up', new_user_path %>

      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
